*

!.vscode/
!.vscode/tasks.json

!bash-docker/
!bash-docker/command-build.sh
!bash-docker/command-clean-system.sh
!bash-docker/command-create.sh
!bash-docker/command-delete-volumes.sh
!bash-docker/command-down.sh
!bash-docker/command-execute-command.sh
!bash-docker/command-logs.sh
!bash-docker/command-ps.sh
!bash-docker/command-show.sh
!bash-docker/command-start.sh
!bash-docker/command-stop.sh
!bash-docker/command-up.sh
!bash-docker/command-update-configuration.sh
!bash-docker/util-elevate.sh
!bash-docker/util-functions.sh

!docker/
!docker/server-nginx-certbot/
!docker/server-nginx-certbot/Dockerfile
!docker/server-nginx-certbot/rootfs/
!docker/server-nginx-certbot/rootfs/etc/
!docker/server-nginx-certbot/rootfs/etc/nginx/
!docker/server-nginx-certbot/rootfs/etc/nginx/nginx.conf
!docker/server-nginx-certbot/rootfs/opt/
!docker/server-nginx-certbot/rootfs/opt/server-nginx-certbot/
!docker/server-nginx-certbot/rootfs/opt/server-nginx-certbot/command-update-configuration.sh
!docker/server-nginx-certbot/rootfs/opt/server-nginx-certbot/entrypoint.sh
!docker/server-nginx-certbot/rootfs/opt/server-nginx-certbot/re-echo.sh
!docker/server-nginx-certbot/rootfs/templates/
!docker/server-nginx-certbot/rootfs/templates/vhost.template.conf

!docker-compose/
!docker-compose/server-nginx-certbot/
!docker-compose/server-nginx-certbot/docker-compose.yaml

!env/
!env/server-nginx-certbot/
!env/server-nginx-certbot/localhost.env

!.bash-docker.command
!.dockerignore
!.gitignore

!LICENCE